before_script:
# Install git (the php image doesn't have it) which is required by composer
- apt-get update -yqq
- apt-get install git -yqq
- apt-get install zip unzip
# Install composer
- curl -sS https://getcomposer.org/installer | php
# Install all project dependencies
- php composer.phar install --dev

# We test PHP5.3
test:5.3:
  image: helder/php-5.3
  script:
  - vendor/bin/phpunit tests/CalcTest54.php

# We test PHP5.4
test:5.4:
  image: php:5.4
  script:
  - vendor/bin/phpunit tests/CalcTest54.php

# We test PHP5.5
test:5.5:
  image: php:5.5
  script:
  - vendor/bin/phpunit tests/CalcTest.php

# We test PHP5.6
test:5.6:
  image: php:5.6
  script:
  - vendor/bin/phpunit tests/CalcTest7.php

# We test PHP7.0
test:7.0:
  image: php:7.0
  script:
  - vendor/bin/phpunit tests/CalcTest7.php

# We test PHP7.1 (good luck with that)
test:7.1:
  image: php:7.1
  script:
  - vendor/bin/phpunit tests/CalcTest7.php

# We test PHP7.1 (good luck with that)
test:7.2:
  image: php:7.2
  script:
  - vendor/bin/phpunit tests/CalcTest7.php